* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: #001a2b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 50px;
  width: 900px;
  border-radius: 10px;
}
.Profile-img {
  width: 150px;
  border-radius: 50%;
  border: 18px solid #f4eeff;
}
.info {
  color: #555;
  font-weight: 500;
  margin-left: 30px;
}
.info h1 {
  font-size: 26px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}
.info ul {
  display: flex;
  align-items: center;
  margin: 10px 0px 30px;
}
.info ul li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  margin-right: 20px;
  margin-top: 10px;
}

.info ul li img {
  width: 20px;
  margin-right: 5px;
}
.links {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.links a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 50px;
  background: #8749fd;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #8749fd;
  padding: 10px 30px;
  margin-right: 20px;
}
